.checkbox label { display:inline; }
.keyid { word-spacing:-0.3ex; }

.revoked,.expired { text-decoration:line-through; }

.dl-horizontal::after { clear:left; } /* fix clear:both */

.security-0 { background-color:#f22; color:#400; box-shadow:0 0 3px #d00; }
.security-1,.security--1 { background-color:#fca; box-shadow:0 0 3px #da8; }
.security-2 { background-color:#ffb; box-shadow:0 0 3px #dd9; }
.security-3 { background-color:#e8ffe8; box-shadow:0 0 3px #d0e8d0; }

.identityList li { font-size:1.3em; line-height:2em; }