{namespace gnewpg.pages}

/**
 * @param connections
*/
{template .debug}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content="noindex,nofollow" />
		<title>Debug – gnewpg</title>
	</head>
	<body>
		<h1>Database connections</h1>
	{foreach $connection in $connections}
		<pre>
			{$connection}
		</pre>
		<br />
	{/foreach}
	</body>
</html>
{/template}